html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.logo {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    margin-top: 3em;
    height: 150px;
    width: 200px;
}

.navbar-brand {
	padding: 0 6px 0 6px;
}

.navbar-default {
	border: none;
}

.navbar-fixed-left {
  width: 75px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 80px;
}

.navbar-fixed-left + .container {
  padding-left: 120px;
}

.navpad {
  padding-left: 75px;
}

.glyphicon-menu-down {
  font-size: 2em;
  display: block;
  color: white;
}

.bottom-align-arrow {
    position: absolute;
    bottom: 0;
    right: 47%;
  }

.parallaxintro { 
    background-image: url("images/parallaxIntro.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.parallax1 { 
    background-image: url("images/parallax1.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}


.parallax2 { 
    background-image: url("images/parallax2.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax3 { 
    background-image: url("images/parallax3.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax4 { 
    background-image: url("images/parallax4.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}


.parallax5 { 
    background-image: url("images/parallax5.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.parallax6 { 
    background-image: url("images/parallax6.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: 75px, 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.align-bottom {
    position: fixed;
    bottom: 1em;
    left: 0;
}

.center-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productimg {
	max-height: 89vh;
  margin-top: 2em;
  margin-bottom: 2em;
}

.productinfo {
	padding: 5em;
	padding-top: 10em;
}

.sidepanel {
  padding-top: 1em;
  background-color: #d3d3d3;
  height: 100%;
}

.thumbnail {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 0px;
}

.rectangle {
	width: 9em;
	height: 3em;
	background-color: #000000;
	color: #ffffff;
}

div.rectangle h5 {
	padding-top: 1em;
}

.glyphicon-shopping-cart {
	padding-left: .4em;
}

a {
	color: inherit;
}

.more-info {
	padding-top: .6em;
}

.box {
	width: 9em;
	height: 3em;
	border: 2px solid black;
	margin-top: 20em;
	float: right;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
  width: 100%;
}

video.fullscreen { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  background: url('white.gif') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#shop {
  width: 95vw;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #333;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    height: 100%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* -----------------------------MEDIA QUERIES----------------------------------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
      position: fixed;
      display: block;
      height: 2em;
      width: 100%;
    }

    .logo {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    margin-top: 1em;
    margin-bottom: 1em;
    }

    .align-bottom {
      bottom: 0;
      position: static;
      float: right;
      margin-top: 0.5em
    }

    /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 & HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

